* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  background: #ffffff;
  border-radius: 25px;
  width: 920px;
  height: 509px;
  padding: 60px 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.containerCard {
  display: flex;
  flex-direction: row;
}

.picture {
  width: 460px;
}

.box {
  position: relative;
  bottom: 100px;
  right: 93px;
  z-index: 1;
}

.womanComputer {
  position: relative;
  right: 90px;
  z-index: 2;
}

.faq {
  margin: 0 25px;
  width: 350px;
}

.question {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

h1 {
  color: hsl(238, 29%, 16%);
  padding-bottom: 20px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  color: #4b4c5f;

  display: inline;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: hsl(238, 29%, 16%);
}

a:hover {
  color: hsl(14, 88%, 65%);
}

a:active {
  font-weight: 700;
}

.arrowDown {
}
