* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

button {
  color: hsl(238, 29%, 16%);
  border: none;
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  cursor: pointer;
}

button:hover {
  color: hsl(14, 88%, 65%);
}

.arrowDown {
  padding-top: 5px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  background: #ffffff;
  border-radius: 25px;
  width: 100%;
  max-width: 920px;
  height: 509px;
  padding: 60px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top -300px right 535px;
}

.picture {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 195px;
  left: -95px;
  z-index: 999;
}

.womanComputer {
  position: absolute;
  right: 75px;
}

.faq {
  width: 100%;
  padding-top: 5px;
}

.faqQuestions {
  margin-right: 90px;
  border-bottom: 1px solid #e8e8ea;
}

.question {
  padding: 20px 0;
}

h1 {
  color: hsl(238, 29%, 16%);
  padding-bottom: 15px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  color: #4b4c5f;
  display: inline;
}
